[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bson = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pymongo = "*"
authlib = "*"
flask-jwt-extended = "*"
jwt = "*"
flask-pymongo = "*"
flask-jwt = "*"
flask-wtf = "*"
certifi = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
