[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bson = "*"
flask = "*"
pymongo = {extras = ["srv"], version = "2.8"}
flask-jwt = "*"
flask-wtf = "*"
flask-login = "*"
flask-cors = "*"
gunicorn = "*"
wtforms = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
